<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/studentQR/" style="margin-left: 700px;">
        <input type="submit" value="Scan student's Unique QR code" />
    </form>
    <form action="/BookBarcode/" style="margin-left: 700px; margin-top: 50px;">
        <input type="submit" value="Scan Book's Barcode" />
    </form>
    <form action="/Submit/" style="margin-left: 700px; margin-top: 50px;">
        <input type="submit" value="Submit" />
    </form>
    <p id="text">Student QR Code: {{ studentQR }}</p>
    <p id="text">Barcode: {{ bookBarcode }}</p>
    <p id="text">{{ success }}</p>
    <p id="text">{{ warn }}</p>
</body>
</html>